<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
    <header>
        <div>
            <img src="/img/Colors-Amazon-Logo.jpg" alt="header logo">
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                {{#if clerk}}
                    <li><a href="/products/addProducts">Add Products</a></li>
                {{/if}}
                {{#if user}}
                    <li><a href="/login/logindashboard">Logged as {{user.name}}</a></li>
                    <li><a href="/login/logout">Logout</a></li>
                {{else}}
                    <li><a href="/registration">Customer Registration</a></li>
                    <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <body>
        <main>
            {{{body}}}
        </main>
    </body>
    <footer>
        <div>
            <img src="/img/Colors-Amazon-Logo.jpg" alt="Footer logo">
        </div>
        <div>
            <ul>
                <li><a href="https://www.facebook.com/" target="_blank"><img src="/img/facebook_logo.png" alt="Facebook logo"></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><img src="/img/instagram-logo.png" alt="Instagram logo"></a></li>
                <li><a href="https://twitter.com/" target="_blank"><img src="/img/twitter-logo.png" alt="twitter logo"></a></li>
                <li><a href="https://www.snapchat.com/" target="_blank"><img src="/img/snapchat-logo.png" alt="snapchat logo"></a></li>
            </ul>
        </div>
    </footer>
</html>