*
{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

header
{
    background-color: #231f20;
    display: grid;
    grid-template-columns: 225px 1fr;
}

header > div > img
{
    width: 100%;
}

nav
{
    font-size: 1.4rem;
    justify-self: end;
}

nav > ul > li
{
    display: inline-block;
    padding: 40px 1.5rem;
}

nav > ul > li > a 

{
    color:#fff;
    text-decoration: none;
}

footer
{
    background-color: #231f20;
    display: grid;
    grid-template-columns: 225px 1fr;
}

footer > div > img
{
    width: 100%;
    max-width: 180px;
}

footer div
{
    justify-self: end;
}

footer > div > ul > li
{
    display: inline-block;
}

footer > div > ul > li img
{
    height: 40px;
    padding: 1.5rem;
}

#banner
{
    background-color: #ecd8da;
}

#bannerImg
{
    background-image: url(/img/homePage/promoBanner1.png);
    background-size: 640px 100%;
    margin: 0 auto;
    max-width: 640px;
    height: 249px;
}

#categories
{
    background-image: linear-gradient(#ecd8da, #ffffff);
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}

#categories > h2, #bestSeller > h2
{
    padding: 0px 40px;
}

#catDiv
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px 30px;
}

#catElement
{
    padding: 20px 10px;
    width: 272px;
    display: block;
    margin: 0 auto;
}

#bestSeller
{
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}

#bestDiv
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0px 30px;
    max-width: 1920px;
}

#bestElement
{
    padding: 20px 10px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

#bestElement > img
{
    width: 100%;
}

#productsPage
{
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 40px 20px;
}

#prodDiv
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}

#prodCat
{
    padding: 10px;
    max-width: 350px;
    margin: auto;
}

#prodElement
{
    padding: 10px;
    max-width: 300px;
}

#prodElement img
{
    width: 100%;
}

#prodPrice
{
    font-size: 1rem;
    font-weight: bold;
    color: #B12704;
    padding: 4px;
}

#prodName
{
    font-size: 1rem;
    font-weight: bold;
    color: #0066c0;
    padding: 4px;
}

.mainReg
{
    width: 350px;
    margin: auto;
}

.mainReg > img
{
    width: 100px;
    display: block;
    margin: auto;
    padding: 15px;
}

.formDiv
{
    margin-bottom: 40px;
    padding: 20px;
    border: 1px #ddd solid;
    border-radius: 4px;
}

.formDiv > h1
{
    font-weight: 400;
    font-size: 1.75rem;
}

.formP
{
    color: #2b2b2b;
    font-size: 0.75rem;
    padding: 0.3rem;
}

.formLabel
{
    font-weight: bold;
    font-size: 0.8rem;
    display: block;
    padding: 1.1rem 0 0.2rem 0;
}

#pBestSeller
{
    display: inline-block;
}

.formInput
{
    padding: 7px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    width: 95%;
}

.subButton
{
    width: 100%;
    border: 1px solid;
    border-radius: 2px;
    border-color: #a88734 #9c7e31 #846a29;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    text-align: center;
    padding: 0.4rem;
    margin: 15px 0;
    color:#000000;
    font-size: 0.75rem;
    font-weight: 600;
}

.subButton:hover
{
    background: linear-gradient(to bottom,#e5cb8f,#fac02e);
}

.formTerms
{
    padding: 5px 0;
    color: #111111;
}

.formAlt
{
    font-size: 0.8rem;
    padding: 50px 0 0 0;
    color: #111;
}

#errorWarning
{
    padding: 10px 0;
    color: #c40000;
    font-weight: 600;
    font-size: 0.8rem;
}

#confH1
{
    text-align: center;
    padding: 1.4rem;
}

#confMessage
{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.6;
    display: block;
    padding: 1.1rem 0 0.2rem 0;
}

#product
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#product img
{
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 375px;
}

#prodDetail
{
    margin: auto;
    padding: 40px;
}

@media (max-width: 992px)
{
    header
    {
        display: block;
    }
    
    header > div > img
    {
        width: 50%;
        max-width: 180px;
        display: block;
        margin: auto;
    }

    #imgHeaderDiv
    {
        border-bottom: 1px solid #ddd;
    }

    nav > ul
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    nav > ul > li
    {
        padding: 0;
        display: block;
    }

    nav > ul > li > a
    {
        padding: 30px 1.5rem;
        text-align: center;
        list-style: none;
        display: block;
    }

    #catDiv
    {
        grid-template-columns: 1fr 1fr;
    }

    #bestDiv
    {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #productsPage
    {
        display: block;
    }

    #prodDiv
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .formLabel
    {
        font-weight: normal;
        font-size: 1.3rem;
    }

    .formInput
    {
        padding: 10px;
        border-radius: 5px;
        font-size: 1.3rem;
    }

    .subButton
    {
        border-radius: 10px;
        padding: 1.4rem;
        font-size: 1.1rem;
    }

    .formAlt
    {
        font-size: 0.9rem;
        padding: 50px 0 30px 0;
    }

    .formAlt a
    {
        padding: 20px;
        border: 1px solid #a6a6a6;
        border-radius: 3px;
    }

        
    #product
    {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px)
{
    nav > ul
    {
        display: block;
    }

    nav > ul > li > a
    {
        padding: 30px 1.5rem;
        text-align: center;
        list-style: none;
        display: block;
        border-top: 1px solid #ddd;
    }

    #imgHeaderDiv
    {
        border-bottom: none;
    }

    footer
    {
        display: block;
    }

    footer > div > img
    {
        width: 100%;
        max-width: 180px;
        display: block;
        margin: auto;
    }

    footer > div > ul
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    footer > div > ul > li
    {
        display: block;
        margin: auto;
    }

    footer > div > ul > li img
    {
        height: 3rem;
    }

    #bannerImg
    {
        background-image: url(/img/homePage/promoBannerMobile.png);
        background-size: 360px 100%;
        max-width: 360px;
        height: 484px;
    }

    #categories > h2
    {
        max-width: 354px;
        margin: auto;
    }
    #catDiv
    {
        display: block;
    }

    #bestSeller
    {
        max-width: 354px;
        background-color: #f5f5f5;
    }

    #bestDiv
    {
        display: block;
    }

    #prodDiv
    {
        display: block;
    }

    #prodElement
    {
        display: block;
        margin: auto;
    }
}