<div class="mainReg">
    <img src="/img/amazon-logo.png" alt="Amazon logo">
    <div class="formDiv">
        <h1 id="confH1">{{user.name}}, Welcome to amazon!</h1>
        <p id="confMessage">
            You have successfully logged in to our website and are ready to start shopping!<br>
            <br><br>
            Thank you for choosing Amazon!
        </p>
    </div>
</div>