<div class="mainReg">
    <img src="/img/amazon-logo.png" alt="Amazon logo">
    <div class="formDiv">
            <h1 id="confH1">{{user.name}}, Welcome to Amazon!</h1>
            <div id="confMessage">
                <p>You have successfully logged in to our website and are ready to start!</p><br>
                {{#if clerk}}
                    <a href="/userProdList" class="subButton">Products recently added</a>
                    <br><br>
                    <a href="/products" class="subButton">Choose a product to edit</a>
                    {{else}}
                    <a href="/userProdList" class="subButton">Go to shopping cart</a>
                {{/if}}
                <br><br>
                Thank you for choosing Amazon!
                <br><br>
                <a href="/login/logout" class="subButton">Logout</a>
            </div>
    </div>
</div>