<div class="mainReg">
    <img src="/img/amazon-logo.png" alt="Amazon logo">
    <div class="formDiv">
        <h1 id="confH1">Welcome to amazon!</h1>
        <p id="confMessage">
            You were successfully registered to our website and are ready to start shopping!<br>
            An email was sent to the address registered.<br><br>
            Thank you for choosing Amazon!
        </p>
    </div>
</div>